* {
    margin: 0px;
    padding: 0px;
    /*font-family: "Helvetica Neue";*/
    font-family: 'Roboto', sans-serif;
}

body {
    /*min-width:1060px;*/
    width: 57%;
    height: 100%;
    margin:0 auto;
    background-color: #fff;
}
#content{
    height: 100%;
}
#logoContainer{
    margin:3.5em auto 0 auto;
    width:6.5em;
    height: auto;
}
#logoContainer img{
    width:100%;
    max-width: 100%;
}
/**************** head wrapper ***************/
div#head_wrapper{
    box-sizing: border-box;
    /*min-width: 1060px;*/
    position: fixed;
    right:0;
    top: 0;
    z-index: 100;
    width: 100%;
    margin-bottom: 1em;
    height: 6.5em;
    background-color: #fff;
    box-shadow: 0 1px 5px #4C4C4C ;
}
/********************************************/


/**************** body wrapper ***************/
div#body_wrapper{
    letter-spacing: 0.15rem;
    box-sizing: border-box;
    height: 80%;
    width:100%;
    margin:5.5em auto 0 auto;
    /*margin-top: 1.5em;*/
    padding: 2em 3em 0 3em;
}

div#container{
    width: 100%;
}
/**************** navigation ***************/
div#navigation{
    letter-spacing: 0;
    width:100%;
    height: 3.75em;
    background-color: #fff;
    margin:1em auto 0 auto;
    display: inline-block;
}
div#navigation ul{
    height:3.75em;
}
div#navigation ul li{
    position: relative;
    display: inline-block;
    height: 3.75em;
    line-height: 3.75em;
    font-weight: bolder;
}
div#navigation ul a{
    text-decoration: none;
    color:black;
    line-height: 3.75em;
}
div#border1_bg{
    z-index: 10;
    display: inline-block;
    position: absolute;
    bottom: -1.8em;
    left: -6%;
    width: 115%;
    height: 35%;
    background-image: url(img/Title_Selection.png);
    /* background-image: url(img/border.png); */
    background-size: 100% 100%;
    opacity: 1;
}
div#navigation li:first-child a{
    margin-right: 2em;
    font-size: 1.8em;
    /*font-size:14pt;*/
    font-stretch: condensed;
}
div#navigation li:nth-child(2) a{
    /*border-bottom: 2px black solid;*/
    font-size: 1.8em;
    font-stretch: condensed;
}
div#navigation li:last-child{
    font-weight: normal;
    color: gray;
    float: right;
    /*font-size:12pt;*/
    font-size:1.8rem;

}
div#navigation li:last-child a{
    font-size:1.8rem;
    color: #8ea0fd;
}
/*****************************************/

/*************** main content ***********/

div#mainContent{
    box-sizing: border-box;
    height: 90%;
    width:100%;
    position: relative;
    margin-top:3%;
}

/************* Introduction **********/
div #introduction_content{
    /*border: solid 2px black;*/
    width: 28%;
    height: 100%;
    display: inline-block;
}
div#welcome{
    box-sizing: border-box;
    padding-top:15%;
    display:inline-block;
    float:left;
    clear:both;
    height:25%;
    width: 100%;
    background-color: #fff;
}
div#welcome p:first-child{
    /*font-size:calc(12px + 0.4vw);*/
    font-size:1.8rem;

    color: black;
    font-weight: 300;
    height:20%;
}
div#welcome p:nth-child(2){
    margin-top:4%;
    /*font-size:calc(20px + 1vw);*/
    font-size:3.2rem;

    font-weight: bold;
}

div#infoContainer{
    margin-top: 23%;
    display: inline-block;
    float: left;
    clear: both;
    width: 100%;
    height: 27%;
}

div#info p{
    height:100%;
    font-size: 1.7rem;
    /*font-size:calc(12px + 0.4vw);*/
    color: black;
    font-weight: 300;
}
div#info_bg{
    position: relative;
    width: 100%;
    height:100%;
}
div#dialog_container{
    position: absolute;
    top: 0;
    left: -2%;
    width: 100%;
    height: 100%;
}
div#dialog_container img{
    width: 104%;
    height: 100%;
}
div#info{
    position: relative;
    line-height: 1.4;
    box-sizing: border-box;
    padding: 13% 2% 0% 8%;
    width: 86%;
    height: 100%;
    /*box-shadow: 1px 1px 5px grey;*/
}

div#settingButtons{
    margin-top: 25%;
    display: inline-block;
    float: left;
    clear: both;
    height: 24%;
    width: 94%;
}
div#btn_makeUp_on{
    position: absolute;
    height: 50%;
    /*top:-10%;*/
}
div#btn_video_on{
    position: absolute;
    height:50%;
    /*top:-10%;*/
}
div#btn_makeupContainer{
    position: relative;
    height:45%;
    width:100%;
    margin-bottom: 7%;
    /*border: 1px solid black;*/
}
div#btn_videoContainer{
    position: relative;
    height:45%;
    width:100%;
    /*border: 1px solid black;*/
}
.btn_on{
    display: inline-block;
    float:right;
    width:30%;
    height:70%;
    /*padding-top:2%;*/
}
.btn_off{
    float:left;
    width:30%;
    height:70%;
    /*padding-top:2%;*/
}
.btn_on img{
    /*width: 100%;*/
    /*max-width: 100%;*/
    float:right;
    height:100%;
    max-height: 100%;
}
.btn_off img{
    float:right;
    /*width: 100%;*/
    /*max-width: 100%;*/
    height:100%;
    max-height: 100%;
}
.btn_on:hover{
    cursor: pointer;
}
.btn_off:hover{
    cursor:pointer;
}
.btn_infoContainer{
    display: inline-block;
    float:left;
    clear:both;
    width:70%;
    height:50%;
    /*height:100%;*/
}
.btn_infoContainer p{
    padding-top: 5%;
    font-weight: bold;
    /* font-size: calc(15px + 0.4vw); */
    font-size: 2rem;
    height: 100%;
    line-height: 2rem;
}


/************* video content **************/
div#video_content{
    box-sizing: border-box;
    left: 29.5%;
    position: absolute;
    width: 45%;
    height: 100%;
    display: inline-block;
    background-image: url(img/model.png);
    background-size: cover;
    background-position: center;
}
#bookmark{
    position: absolute;
    left: 4%;
    top: 4%;
    width: 8%;
    height: 9%;
    z-index: 90;
}
#bookmark img{
    width: 100%;
    max-width: 100%;
}
#bookmark:hover{
    cursor:pointer;
}

#video_div{
    position:absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow:hidden;
}


/************* style button bar ************/
div#btn_bar{
    padding: 3% 1% 0 8%;
    width: 100%;
    box-sizing: border-box;
    height: 16%;
    box-shadow: 1px 1px 5px grey;
    background-color: white;
    bottom: 0;
    position: absolute;
}
div#btn_bar img{
    /*max-width: 100%;*/
    max-height:100%;
    height: 100%;
}

div#btn_lipstick1, #btn_lipstick2, #btn_lipstick3, #btn_lipstick4, #btn_lipstick5{
    position: relative;
    bottom:0;
    display: inline-block;
    /*padding: 1% 2% 0% 3%;;*/
    width:18%;
    height:85%;
    /*border: 1px solid red;*/
}
div#btn_lipstick1:hover, #btn_lipstick2:hover, #btn_lipstick3:hover, #btn_lipstick4:hover, #btn_lipstick5:hover{
    cursor: pointer;
}
div.ls_border{
     display: none;
    z-index: 10;
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 100%;
    height: 17%;
    background-image: url(img/border/ls_border.png);
    background-size: 100% 100%;
    opacity: 0.8;
}
/*div#ls1_border{*/
    /*right:5%;*/
/*}*/
/*div#ls2_border{*/
    /*right:14%*/
/*}*/
/*div#ls3_border{*/
    /*right:4%;*/
/*}*/
/*div#ls4_border{*/
    /*right: 5%;*/
/*}*/
/*div#ls5_border{*/
    /*right: 17%;*/
/*}*/
/*div#btn_heavy{*/
    /*margin-left:6em;*/
/*}*/
/*div#btn_fun{*/
    /*float: right;*/
/*}*/
#videoInsert{
    height: 100%;
    display:block;
    margin-left: -36%;
}





/****************** product container *****************/
div #productContainer{
    letter-spacing: 0;
    box-shadow: 3px 1px 5px -1px grey;
    width: 26%;
    padding: 1% 3% 1% 3%;
    box-sizing: border-box;
    /* border: solid 0.1875em black; */
    height: 99.8%;
    float: right;
    display: inline-block;
    margin-top: 0.17%;
}
div#productContainer p{
    font-stretch: condensed;
    font-weight: bold;
    font-size: 2.4rem;
    /*font-size:150%;*/
    height: 5%;
}
div#product{
    float:right;
    clear:both;
    height:100%;
    width:100%;
}


div#productShown{
    position: relative;
    margin-top: 1em;
    padding:1em 1em 1em 0.3em;
    box-sizing: border-box;
    float:right;
    clear:both;
    width: 100%;
    height:69%;
    box-shadow: 1px 1px 5px gray;
}

div#productInfo{
    float:left;
    clear:both;
    height:21%;
    width:100%;
    /*border:1px solid black;*/
}

div#color_padding{
    position: relative;
    margin-top:4em;
    float:left;
    clear:both;
    height:60%;
    width: 100%;
    /*border: 1px solid black;*/
}

div#colorsContainer{
    width:100%;
    height:70%;
    padding: 0 0 0 5%;
    /*box-sizing: border-box;*/
    /*border: 1px solid black;*/
}

div#makePurchase{
    display: none;
    width: 53%;
    height: 11%;
    text-decoration: underline;
    position: absolute;
    bottom: 6%;
    right: -1%;
}
div#makePurchase a{
    letter-spacing: 0;
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
}




/******************** foot wrapper *****************/
div#foot_wrapper{
    box-sizing: border-box;
    height: 10%;
    width: 100%;
    padding: 2em 3em 0 3em;
    /*margin: 0 auto 0 auto;*/
}

/****** saved look ********/

div#savedLookContainer{
    margin: 3rem 0 0 0;
    /*height: 22em;*/
    height: auto;
    /*box-shadow: 1px 1px 5px gray;*/
    /*padding-bottom: 3rem;*/
}
div#savedLookTitle{
    display: inline-block;
    float:left;
    clear:both;
    width: 100%;
    height: auto;
    margin:3% 0 0 0;
}
div#savedLookTitle p{
    font-weight: bold;
    font-stretch: condensed;
    font-size: 2.4rem;
    /*font-size: calc( 17px + 0.5vw);*/
}
div#savedLookProduct{
    display: inline-block;
    /*box-shadow: 1px 1px 5px gray;*/
    width: 100%;
    height: 64%;
    height: auto;
    margin: 3rem 0 0 0;
    padding-bottom: 3rem;
}
div#savedProductMsg{
    display: inline-block;
    width:100%;
    margin:3% 0 0 0;
}
div#savedProductMsg p{
    font-weight: bold;
    /*font-size: calc( 10px + 0.4vw);*/
    font-size:1.6rem;

}
div#savedContainerTop3{
    position: relative;
    margin: 15px auto;
    width: 100%;
    height: 100%;
    padding-left: 1%;
}
div#viewMore{
    width:10%;
    height:15%;
    /*font-size: calc(10px + 0.4vw);*/
    font-size:1.5rem;
    text-decoration: underline;
    position: absolute;
    bottom: -5rem;
    right: 0;
}
div#savedContainerTop6{
    position: relative;
    margin: 15px auto;
    width: 100%;
    height: 100%;
    padding-left: 1%;
}
div#viewLess{
    width:10%;
    height:15%;
    /*font-size: calc(10px + 0.4vw);*/
    font-size:1.5rem;
    text-decoration: underline;
    position: absolute;
    bottom: -5rem;
    right: 0;
}
div#viewMore:hover,div#viewLess:hover{
    cursor: pointer;
}

/************* popout windows ***********/
div#camera_popout_container{
    box-sizing: border-box;
    box-shadow: 1px 1px 1px grey;
    z-index: 105;
    position: fixed;
    left: 34%;
    top: 30%;
    width: 60rem;
    background-color: white;
    display: none;
}

div#camera_popout_header{
    /*border: 1px solid black;*/
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 28%;
    /*padding: 3% 0 0 5%;*/
}
div#camera_popout_title{
    box-sizing: border-box;
    padding: 5% 0 0 8%;
}
div#camera_popout_title p{
    font-weight: bold;
    font-size: 2.6rem;
    /*font-size:calc(17px + 1vw);*/

}
div#camera_popout_close{
    /*border: 1px solid black;*/
    box-sizing: border-box;
    position: absolute;
    right: 5%;
    top: 18%;
    width: 3%;
    height: 19%;
}
div#camera_popout_close img{
    width: 100%;
    height: 100%;
}
div#camera_popout_content{
    /*border: 1px solid red;*/
    box-sizing: border-box;
    width: 100%;
    height: 30%;
}

div#camera_popout_content p{
    font-family: Avenir;
    padding: 0 8% 0 8%;
    /*font-size:18pt;*/
    font-size:2.3rem;
    /*font-size: calc( 16px + 0.3vw);*/
    /*text-align: center;*/
}
div#camera_popout_btns{
    /*border: 1px solid black;*/
    box-sizing: border-box;
    margin: 0 auto;
    padding-top: 0%;
    height: 30%;
    width: 44%;
}
div#btn_sure{
    /*box-sizing: border-box;*/
    padding-bottom: 5%;
    width: 100%;
    height: 45%;
}
div#btn_sure img{
    max-width: 100%;
    max-height: 100%;
}
div#btn_template{
    /*padding-top: 5%;*/
    /*box-sizing: border-box;*/
    width: 100%;
    height: 45%;
}
div#btn_template img{
    max-width: 100%;
    max-height: 100%;
}

div#btn_template img:hover, #btn_sure img:hover, #camera_popout_close img:hover{
    cursor: pointer;
}
/*******************/
div#removal_popout_container{
    box-sizing: border-box;
    box-shadow: 1px 1px 1px grey;
    z-index: 105;
    position: fixed;
    left: 34%;
    top: 30%;
    width: 60rem;
    background-color: white;
    display: none;
}

div#removal_popout_header{
    /*border: 1px solid black;*/
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 27%;
    /*padding: 3% 0 0 5%;*/
}
div#removal_popout_title{
    padding: 5% 0 0 5%;
}
div#removal_popout_title p{
    font-weight: bold;
    font-size: 2.6rem;
    /*font-size:calc(17px + 1vw);*/

}
div#removal_popout_close{
    /*border: 1px solid black;*/
    box-sizing: border-box;
    position: absolute;
    right: 5%;
    top: 18%;
    width: 3%;
    height: 19%;
}
div#removal_popout_close img{
    width: 100%;
    height: 100%;
}
div#removal_popout_content{
    /*border: 1px solid red;*/
    box-sizing: border-box;
    width: 91%;
    height: 34%;
    margin: 0 auto;
}

div#removal_popout_content p{
    font-family: Avenir;
    /*font-size:18pt;*/
    font-size:2.4rem;
    /*font-size: calc( 17px + 0.5vw);*/

    /*text-align: center;*/
}
div#removal_popout_btns{
    /*border: 1px solid black;*/
    box-sizing: border-box;
    margin: 0 auto;
    padding-top: 0%;
    height: 34%;
    width: 44%;
}
div#btn_remove{
    box-sizing: border-box;
    padding-bottom: 5%;
    width: 100%;
    height: 50%;
}
div#btn_remove img{
    max-width: 100%;
    max-height: 100%;
}
div#btn_toGo{
    padding-top: 5%;
    box-sizing: border-box;
    width: 100%;
    height: 50%;
}
div#btn_toGo img{
    max-width: 100%;
    max-height: 100%;
}

div#btn_toGo img:hover, #btn_remove img:hover, #removal_popout_close img:hover{
    cursor: pointer;
}
/********* hide layer**********/
div#hide_layer{
    width:100vw;
    /*min-width: 1060px;*/
    /*min-height: 868px;*/
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color:#000;
    filter:alpha(opacity=60);
    opacity:0.6;
    display:none;
    z-Index:101;
}